html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh; 
  margin-top: 100px;  
  display: flex;
  flex-direction: column;
}

.table-responsive {
  max-height: calc(100vh - 200px); 
  overflow-y: auto;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

table th, table td {
  vertical-align: middle;
}

button.btn-sm {
  min-width: 60px;
}

ul {
  padding-left: 0;
}

ul li {
  margin-bottom: 3px;
}
